<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cstructor.androidinterfaces">

    <!-- App uses the camera although it's not required -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!-- App requires device to have a microphone in order to install -->
    <uses-feature android:name="android.hardware.microphone" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <permission android:name="com.cstructor.androidinterfaces.provider.permission.READ_PLANETS" />
    <permission android:name="com.cstructor.androidinterfaces.provider.permission.WRITE_PLANETS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <provider
            android:name=".PlanetProvider"
            android:authorities="com.cstructor.androidinterfaces.provider.Planet"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.cstructor.androidinterfaces.provider.permission.READ_PLANETS"
            android:writePermission="com.cstructor.androidinterfaces.provider.permission.WRITE_PLANETS" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DrawableActivity" />
        <activity android:name=".FeatureActivity" />
        <activity
            android:name=".LocaleActivity"
            android:label="Locale"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ContactDetailActivity" />
        <activity android:name=".ContactActivity" />
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoaderActivity" />
        <activity android:name=".CanvasActivity" />
        <activity android:name=".TouchActivity"></activity>
    </application>

</manifest>